.all{
    background-color: #1d6fcd;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.game-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

#guess-input {
    width: 70px;
    height: 20px;
    text-align: center;
    padding: 5px;
    margin-right: 5px;
}

#submit-btn, #restart-btn {
    padding: 10px 10px;
    border: none;
    background-color: #1d6fcd;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    
}

#restart-btn {
    background-color: #dc3545;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}
